<div>

  <h2>MY ENTRIES</h2>
  <div class="clear">&nbsp;</div>
  <div class="filter_row">
    <div class="row">
      <div class="col-md-8">
        <h4>Live Contest</h4>
      </div>

      <div class="col-md-4"><span class="green"><a href="#">Join More Contest »</a></span></div>

    </div>
  </div>

  <div class="live-contests-dest"></div>

  <div class="filter_row">
    <div class="row">
      <div class="col-md-4">
        <h4>Upcoming Contest</h4>
      </div>
      <div class="col-md-8">
        <span class="green"><a href="#">Join More Contest »</a></span>
        <span class="green"><%= link_to 'View my Lineups', lineups_path %></span>
      </div>
    </div>
  </div>

  <div class="upcoming-contests-dest"></div>

  <div class="filter_row">
    <div class="row">
      <div class="col-md-4">
        <h4 class="line-height34">Completed Contest</h4>
      </div>
      <div class="col-md-8">
        <ul>
          <li>
            <h4>Buy In</h4>
          </li>
          <li>
            <div class="styled-select">
              <select>
                <option>ALL</option>
                <option>ALL TIME</option>
              </select>
            </div>
          <li>
            <h4>Show Contest from</h4>
          </li>
          <li class="styled-select">
            <select>
              <option>ALL</option>
              <option>ALL TIME</option>
            </select>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="completed-contests-dest"></div>

</div>

<script type="text/template" id="live-contests-template">
  <%% if (liveContests.length > 0) { %>
    <table class='contestHead table sortable'>
      <thead>
      <tr>
        <th data-defaultsort="asc" class="srt-contest-name">ID</th>
        <th data-defaultsort="asc" class="srt-sport">GAME</th>
        <th data-defaultsort="asc" class="srt-live-in">STARTED AT</th>
        <th data-defaultsort="asc" class="srt-end-in">ENDS IN</th>
        <th data-defaultsort="asc" class="srt-entry-fee">ENTRY FEE</th>
        <th data-defaultsort="asc">PRIZE POOL</th>
        <th data-defaultsort="asc">PLACE</th>
        <th data-defaultsort="disabled"></th>
      </tr>
      </thead>

      <tbody>
        <%% _(liveContests).each(function (contest) { %>
        <tr class="completedcontest">
          <td><%%= contest.id %></td>
          <td><%%= contest.sport %></td>
          <td data-start-at="<%%= contest.start_at %>"><%%= contest.render.start_at %></td>
          <td data-time="<%%= contest.end_at %>" class="js-time-count"><%%= contest.render.end_at %></td>
          <td><%%= contest.entry_fee %></td>
          <td><%%= contest.prize %></td>
          <td><%%= contest.place %></td>
          <td><a class="button" href="<%%= contest.results_path %>">RESULTS</a></td>
        </tr>
        <%% }); %>
      </tbody>
    </table>
  <%% } else { %>
    <p class="message">YOU HAVE NO LIVE CONTEST RIGHT NOW. LIVE CONTEST WILL APPEAR HERE ONCE THE GAMES START.</p>
  <%% } %>
</script>
<script type="text/template" id="upcoming-contests-template">
  <%% if (upcomingContests.length > 0) { %>
    <table class='contestHead table sortable'>
      <thead>
      <tr>
        <th data-defaultsort="asc" class="srt-contest-name">ID</th>
        <th data-defaultsort="asc" class="srt-sport">GAME</th>
        <th data-defaultsort="asc" class="srt-live-in">STARTS IN</th>
        <th data-defaultsort="asc" class="srt-entry-fee">ENTRY FEE</th>
        <th data-defaultsort="asc">PRIZE POOL</th>
        <th data-defaultsort="asc">ENTRIES</th>
        <th data-defaultsort="disabled"></th>
        <th data-defaultsort="disabled"></th>
      </tr>
      </thead>
      
      <tbody>
        <%% _(upcomingContests).each(function (contest) { %>
        <tr class="completedcontest">
          <td><%%= contest.id %></td>
          <td><%%= contest.sport %></td>
          <td data-time="<%%= contest.end_at %>"  class="js-time-count"><%%= contest.render.end_at %></td>
          <td><%%= contest.entry_fee %></td>
          <td><%%= contest.prize %></td>
          <td><%%= contest.entry_size %></td>
          <td><a class="button" href="<%%= contest.edit_path %>">EDIT</a></td>
          <td><a class="button" href="<%%= contest.view_path %>">VIEW</a></td>
        </tr>
        <%% }); %>
      </tbody>
    </table>
  <%% } else { %>
    <p class="message">YOU HAVE NO UPCOMING CONTEST RIGHT NOW. JOIN MORE CONTEST NOW!</p>
  <%% } %>
</script>
<script type="text/template" id="completed-contests-template">
  <%% if (completedContests.length > 0) { %>
    <table class='contestHead table sortable'>
      <thead>
      <tr>
        <th data-defaultsort="asc" class="srt-contest-name">ID</th>
        <th data-defaultsort="asc" class="srt-sport">GAME</th>
        <th data-defaultsort="asc" class="srt-live-in">COMPLETED</th>
        <th data-defaultsort="asc" class="srt-entry-fee">ENTRY FEE</th>
        <th data-defaultsort="asc">PRIZE POOL</th>
        <th data-defaultsort="asc">PLACE</th>
        <th data-defaultsort="asc">$WON</th>
        <th data-defaultsort="disabled"></th>
      </tr>
      </thead>

      <tbody>
        <%% _(completedContests).each(function (contest) { %>
        <tr class="completedcontest">
          <td><%%= contest.id %></td>
          <td><%%= contest.sport %></td>
          <td><%%= contest.complete %></td>
          <td><%%= contest.entry_fee %></td>
          <td><%%= contest.prize %></td>
          <td><%%= contest.place %></td>
          <td><%%= contest.won %></td>
          <td><a class="button" href="<%%= contest.results_path %>">RESULTS</a></td>
        </tr>
        <%% }); %>
      </tbody>
    </table>
  <%% } else { %>
    <p class="message">YOU HAVE NO FINISHED CONTEST RIGHT NOW. CONTEST WILL APPEAR HERE ONCE THE GAMES WILL BE FINISHED.</p>
  <%% } %>
</script>