tr.contest id=dom_id(contest)
  td.contest-type= contest.contest_type
  td.sport-name
    = image_tag "sports/#{contest.sport.downcase}.png"
    = contest.sport
  td= content_livein_countdown contest
  td data-value=contest.entry_fee
    = contest_entry_fee contest
  td data-value=contest.prize
    = number_to_currency contest.prize
  td= contest.entries.size
  td= link_to 'enter', new_contest_entry_path(contest), class: 'enter-contest'
