<div class='welcomeNote'>Enter the Game of your choice, then Select your Lineup and Win Cash.</div>

<div class="row filter-row">
  <div class="col-md-6">
    <div class="dropdown custom-dropdown">
      <a href="#" class="dropdown-trigger" data-toggle="dropdown">
        Showing: <span class="selected-sport">All sports</span>
        <i class="glyphicon glyphicon-chevron-down"></i>
      </a>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#_" class="filter" data-filter="all">All</a></li>
        <% Contest.sport_names.each do |sport| %>
          <li>
            <a href="#_" class="filter" data-filter="<%= sport.downcase %>">
              <%= sport %>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<table class='contestHead main-grid table sortable filter-result'>
  <thead>
  <tr>
    <th data-defaultsort="asc" class="srt-contest-name">CONTEST</th>
    <th data-defaultsort="asc" class="srt-sport">SPORT</th>
    <th data-defaultsort="asc" class="srt-live-in">LIVE IN</th>
    <th data-defaultsort="asc" class="srt-entry-fee">ENTRY</th>
    <th data-defaultsort="asc">PRIZE</th>
    <th data-defaultsort="asc">ENTRIES</th>
    <th data-defaultsort="disabled"></th>
  </tr>
  </thead>
  <tbody>
  <%= render partial: 'contest', collection: @contests %>
  </tbody>
</table>
