<!-- homepage -->
<div class='welcomeNote'>Enter a Contest, then Draft a Team and Win Cash</div>

<div class="row filter-row">
  <div class="col-md-6">
    <div class="dropdown custom-dropdown">
      <a href="#" class="dropdown-trigger" data-toggle="dropdown">
        Showing: <span class="selected-sport">All sports</span>
        <i class="glyphicon glyphicon-chevron-down"></i>
      </a>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#_" class="filter" data-filter="all">All</a></li>
        <% Contest.sport_names.each do |sport| %>
          <li>
            <a href="#_" class="filter" data-filter="<%= sport.downcase %>">
              <%= sport %>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="col-md-6">
    <a class="join-link pull-right" href="#">
      Start or join a private contest
      <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
  </div>
</div>

<div class="contest-help">
  <p>50/50: Finish in the top half and win the prize</p>
  <p>
    H2H: Randomly matched one-on-one contests.
    *If there is an odd number of entrants the last player sits out.
  </p>
</div>

<table class='contestHead main-grid table sortable filter-result'>
  <thead>
  <tr>
    <th class="srt-contest-name">CONTEST</th>
    <th class="srt-sport">SPORT</th>
    <th class="srt-live-in">LIVE IN</th>
    <th class="srt-entry-fee">ENTRY</th>
    <th>PRIZE</th>
    <th>ENTRIES</th>
    <th data-defaultsort="disabled"></th>
  </tr>
  </thead>
  <tbody>
  <%= render partial: 'contest', collection: @contests %>
  </tbody>
</table>

<div class="ajax-loader" style="display:none;">
  <img src="/assets/ajax-loader.gif">
</div>

