.categoryNav
  ul
    / TODO: fixed the links
    li
      a href="#" Best Odds
    li
      a href="#" Lowest Rake
    li
      a href="#" Fast and Secure Payments
    li
      a href="#" Refer Friends, Earn Cash

.welcomeNote Enter the Game of your choice, then Select your Lineup and Win Cash.

.loginSection
  .row
    .col-md-4
      .radio
        input#publicContent name="radio" type="radio" value=""
          label for="publicContent" Public
          input#privateContest name="radio" type="radio" value=""
            label for="privateContest" Private
    .col-md-4
      .login
        ul.nav.navbar-nav.navbar-right.capital-navbar-right
          li.dropdownlogin
            a.dropdown-toggle data-toggle="dropdown" href="#"
              | FILTER BY SPORT &nbsp;
              b.downarrowblack &nbsp;
            ul.dropdown-menu
              li Content Area
    .col-md-4
      ul.loginJoin
        li
          input type="text" value="Name"
        li
          .button CREATE
        li
          input type="text" value="Password"
        li
          .button JOIN

ul.contestHead
  li CONTEST
  li SPORT
  li LIVE IN
  li ENTRY
  li PRIZE
  li ENTRIES
  li
-50.times do |i|
  = render partial: 'contest'
