<div class="welcomeNote">Enter the Game of your choice, then Select your Lineup and Win Cash.</div>

<h2>MY CONTEST</h2>
<div class="clear">&nbsp;</div>
<div class="filter_row">
  <div class="row">
    <div class="col-md-8">
      <h4>Live Contest</h4>
    </div>
    <div class="col-md-4"><span class="green"><a href="#">Join More Contest »</a></span></div>
  </div>
</div>
<p class="message">YOU HAVE NO LIVE CONTEST RIGHT NOW. LIVE CONTEST WILL APPEAR HERE ONCE THE GAMES START.</p>
<div class="filter_row">
  <div class="row">
    <div class="col-md-4">
      <h4>Upcoming Contest</h4>
    </div>
    <div class="col-md-8"><span class="green"><a href="#">Join More Contest »</a></span><span class="green"><a href="#">View
      my Lineups »</a></span></div>
  </div>
</div>
<p class="message">YOU HAVE NO UPCOMING CONTEST RIGHT NOW. JOIN MORE CONTEST NOW!</p>
<div class="filter_row">
  <div class="row">
    <div class="col-md-4">
      <h4>Completed Contest</h4>
    </div>
    <div class="col-md-8">
      <ul>
        <li>
          <h4>Buy In</h4>
        </li>
        <li>
          <div class="styled-select">
            <select>
              <option>ALL</option>
              <option>ALL TIME</option>
            </select>
          </div>
        <li>
          <h4>Show Contest from</h4>
        </li>
        <div class="styled-select">
          <select>
            <option>ALL</option>
            <option>ALL TIME</option>
          </select>
        </div>
      </ul>
    </div>
  </div>
</div>

<!--List Area-->
<!---Heading-->
<ul class="completedcontestHead">
  <li>ID</li>
  <li>GAME</li>
  <li>COMPLETED</li>
  <li>ENTRY FEE</li>
  <li>PRIZE POOL</li>
  <li>PLACE</li>
  <li>ENTRIES</li>
  <li></li>
</ul>
<!---ROW 1-->
<ul class="completedcontest">
  <li>269806</li>
  <li>NBA Daily Freeroll</li>
  <li>11/17/2003</li>
  <li>$0.00</li>
  <li>$1.90</li>
  <li>814</li>
  <li>$0</li>
  <li><a class="button" href="#">RESULTS</a></li>
</ul>
<!---ROW 2-->
<ul class="completedcontest">
  <li>269806</li>
  <li>NBA Daily Freeroll</li>
  <li>11/17/2003</li>
  <li>$0.00</li>
  <li>$1.90</li>
  <li>814</li>
  <li>$0</li>
  <li><a class="button" href="#">RESULTS</a></li>
</ul>
<!---ROW 3-->
<ul class="completedcontest">
  <li>269806</li>
  <li>NBA Daily Freeroll</li>
  <li>11/17/2003</li>
  <li>$0.00</li>
  <li>$1.90</li>
  <li>814</li>
  <li>$0</li>
  <li><a class="button" href="#">RESULTS</a></li>
</ul>

