footer
  .footerContainer.container
    .row
      .col-md-5
        = image_tag 'footer_logo.png',  alt: "Fantasy capital logo"
        div
          ul.left
            li
              a href="#" Home
            li
              a href="#" Contact Us
            li
              a href="#" Terms
            li
              a href="#" Privacy
          ul.left
            li
              a href="#" 100% Legal
            li
              a href="#" Affiliates
            li
              a href="#" Deposit Bonus
            li
              a href="#" Careers
      .col-md-7
        ul.right
          li
            a href="#"
              = image_tag 'stats.png', alt:'Fantasy capital Stats'
          li
            a href="#"
              = image_tag 'rotowire.png'
          li
            a href="#"
              = image_tag 'paypal.png'
