  <div class="capitalcontent">
    <div class="capitalpopup">
      <div class="popupTitle">
        <h2>PEYTON MANNING &nbsp; </h2>
        <h3> BRONCOS#18</h3>
        <h3> Salary:</h3>
        <h4> $10,300</h4>
        <button type="button" class="btnClose" data-dismiss="modal">X</button>
      </div>
      <h3>Next Gm:</h3>
      <h4>Ten @Den (12/08 4:05 PM EST)</h4>
      <div class="draftPlayer">DRAFT PLAYER</div>
      <div class="clear">&nbsp;</div>
      <div>
        <ul class="nav nav-tabs" id="filterSport">
          <li class="active"><a href="#SUMMARY" data-toggle="tab">SUMMARY</a></li>
          <li><a href="#MATCHUP" data-toggle="tab">MATCHUP</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="SUMMARY">
            <table width="713" class="summarymatchup">
              <thead>
              <tr>
                <th width="136">&nbsp;</th>
                <th width="38">GP</th>
                <th width="40">Comp</th>
                <th width="28">Patt</th>
                <th width="68">Comp%</th>
                <th width="41">PaYD</th>
                <th width="46">PaTD</th>
                <th width="20">Int</th>
                <th width="41">RuAtt</th>
                <th width="42">RuYD</th>
                <th width="42">RuTD</th>
                <th width="39">FumL</th>
                <th width="39">FPPG</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>12/1<span class="border">&nbsp;</span></td>
                <td>1<span class="border">&nbsp;</span></td>
                </td>
                <td>366<span class="border">&nbsp;</span></td>
                <td>539<span class="border">&nbsp;</span></td>
                <td>67.9<span class="border">&nbsp;</span></td>
                <td>4522<span class="border">&nbsp;</span></td>
                <td>45<span class="border">&nbsp;</span></td>
                <td>9<span class="border">&nbsp;</span></td>
                <td>32<span class="border">&nbsp;</span></td>
                <td>-31<span class="border">&nbsp;</span></td>
                <td>1<span class="border">&nbsp;</span></td>
                <td>10<span class="border">&nbsp;</span></td>
                <td width="33">36.8</td>
              </tr>
              <tr>
                <td>12/1<span class="border">&nbsp;</span></td>
                <td>1<span class="border">&nbsp;</span></td>
                </td>
                <td>366<span class="border">&nbsp;</span></td>
                <td>532349<span class="border">&nbsp;</span></td>
                <td>67.9<span class="border">&nbsp;</span></td>
                <td>4522<span class="border">&nbsp;</span></td>
                <td>45<span class="border">&nbsp;</span></td>
                <td>9<span class="border">&nbsp;</span></td>
                <td>32<span class="border">&nbsp;</span></td>
                <td>-31<span class="border">&nbsp;</span></td>
                <td>1<span class="border">&nbsp;</span></td>
                <td>10<span class="border">&nbsp;</span></td>
                <td width="33">36.8</td>
              </tr>
              <tr>
                <td>12/1<span class="border">&nbsp;</span></td>
                <td>1<span class="border">&nbsp;</span></td>
                </td>
                <td>366<span class="border">&nbsp;</span></td>
                <td>539<span class="border">&nbsp;</span></td>
                <td>67.9<span class="border">&nbsp;</span></td>
                <td>4522<span class="border">&nbsp;</span></td>
                <td>45<span class="border">&nbsp;</span></td>
                <td>9<span class="border">&nbsp;</span></td>
                <td>32<span class="border">&nbsp;</span></td>
                <td>-31<span class="border">&nbsp;</span></td>
                <td>1<span class="border">&nbsp;</span></td>
                <td>10<span class="border">&nbsp;</span></td>
                <td width="33">36.8</td>
              </tr>
              <tr>
                <td>12/1<span class="border">&nbsp;</span></td>
                <td>1<span class="border">&nbsp;</span></td>
                </td>
                <td>366<span class="border">&nbsp;</span></td>
                <td>539<span class="border">&nbsp;</span></td>
                <td>67.9<span class="border">&nbsp;</span></td>
                <td>4522<span class="border">&nbsp;</span></td>
                <td>45<span class="border">&nbsp;</span></td>
                <td>9<span class="border">&nbsp;</span></td>
                <td>32<span class="border">&nbsp;</span></td>
                <td>-31<span class="border">&nbsp;</span></td>
                <td>1<span class="border">&nbsp;</span></td>
                <td>10<span class="border">&nbsp;</span></td>
                <td width="33">36.8</td>
              </tr>
              <tr>
                <td>2013 Season<span class="border">&nbsp;</span></td>
                <td>13<span class="border">&nbsp;</span></td>
                </td>
                <td>366<span class="border">&nbsp;</span></td>
                <td>539<span class="border">&nbsp;</span></td>
                <td>67.9<span class="border">&nbsp;</span></td>
                <td>4522<span class="border">&nbsp;</span></td>
                <td>45<span class="border">&nbsp;</span></td>
                <td>9<span class="border">&nbsp;</span></td>
                <td>32<span class="border">&nbsp;</span></td>
                <td>-31<span class="border">&nbsp;</span></td>
                <td>1<span class="border">&nbsp;</span></td>
                <td>10<span class="border">&nbsp;</span></td>
                <td width="33">36.8</td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="tab-pane" id="MATCHUP">2</div>
        </div>
      </div>

      <br/>
      <h2>LATEST PLAYER NEWS</h2>
      <div class="clear">&nbsp;</div>
      <p><strong>Dec 4</strong>: Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
      <p><strong>Dec 4</strong>: Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
    </div>
  </div>
