<h2>SCORING/RULES/FAQS</h2>
<h3 class="panel-group-title">Scoring</h3>
<div class="panel-group fc-panel" id="scoring_accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#football">
          Football
        </a>
      </h4>
    </div>
    <div id="football" class="panel-collapse collapse in">
      <div class="panel-body">
        <ul class="scoring-list">
          <li><b>3-PT FG</b> = 3 pts</li>
          <li><b>2-PT FG</b> = 2 pts</li>
          <li><b>FG</b> = 1 pts</li>
          <li><b>Rebound</b> = 1.2 pts</li>
          <li><b>Assist</b> = 1.5 pts</li>
          <li><b>Block</b> = 2 pts</li>
          <li><b>Steal</b> = 2 pts</li>
          <li><b>Turnover</b> = -1 pts</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#baseball" class="collapsed">
          Baseball
        </a>
      </h4>
    </div>
    <div id="baseball" class="panel-collapse collapse">
      <div class="panel-body">
        <ul class="scoring-list">
          <li><b>3-PT FG</b> = 3 pts</li>
          <li><b>2-PT FG</b> = 2 pts</li>
          <li><b>FG</b> = 1 pts</li>
          <li><b>Rebound</b> = 1.2 pts</li>
          <li><b>Assist</b> = 1.5 pts</li>
          <li><b>Block</b> = 2 pts</li>
          <li><b>Steal</b> = 2 pts</li>
          <li><b>Turnover</b> = -1 pts</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#basketball" class="collapsed">
          Basketball
        </a>
      </h4>
    </div>
    <div id="basketball" class="panel-collapse collapse">
      <div class="panel-body">
        <ul class="scoring-list">
          <li><b>3-PT FG</b> = 3 pts</li>
          <li><b>2-PT FG</b> = 2 pts</li>
          <li><b>FG</b> = 1 pts</li>
          <li><b>Rebound</b> = 1.2 pts</li>
          <li><b>Assist</b> = 1.5 pts</li>
          <li><b>Block</b> = 2 pts</li>
          <li><b>Steal</b> = 2 pts</li>
          <li><b>Turnover</b> = -1 pts</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#hockey" class="collapsed">
          Hockey
        </a>
      </h4>
    </div>
    <div id="hockey" class="panel-collapse collapse">
      <div class="panel-body">
        <ul class="scoring-list">
          <li><b>3-PT FG</b> = 3 pts</li>
          <li><b>2-PT FG</b> = 2 pts</li>
          <li><b>FG</b> = 1 pts</li>
          <li><b>Rebound</b> = 1.2 pts</li>
          <li><b>Assist</b> = 1.5 pts</li>
          <li><b>Block</b> = 2 pts</li>
          <li><b>Steal</b> = 2 pts</li>
          <li><b>Turnover</b> = -1 pts</li>
        </ul>
      </div>
    </div>
  </div>

</div>

<h3 class="panel-group-title">Rules</h3>
<div class="panel-group-intro">
  In addition to our <a href="#" class="green">Terms & Conditions</a> contests as Fantasy Capital are governed by the following set of ruls:
</div>
<div class="panel-group fc-panel" id="rules_accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#eligibility" class="collapsed">
          Eligibility
        </a>
      </h4>
    </div>
    <div id="eligibility" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="text-container">
          You must be 18 years of age or over and a resident of US or Canada to make a deposit or play in and FantasyCapital Contests with an entry fee or prize. If you are a resident of Arizona, Iowa, Louisianna or Montana, you cannot play FantasyCapital or real money. For further information regarding eligibility, please consult our offical <a href="#" class="green">Terms & Conditions</a>.
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#multiple_accounts" class="collapsed">
          Multiple Accounts
        </a>
      </h4>
    </div>
    <div id="multiple_accounts" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="text-container">
          You must be 18 years of age or over and a resident of US or Canada to make a deposit or play in and FantasyCapital Contests with an entry fee or prize. If you are a resident of Arizona, Iowa, Louisianna or Montana, you cannot play FantasyCapital or real money. For further information regarding eligibility, please consult our offical <a href="#" class="green">Terms & Conditions</a>.
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#suspended_accounts" class="collapsed">
          Suspended Accounts
        </a>
      </h4>
    </div>
    <div id="suspended_accounts" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="text-container">
          You must be 18 years of age or over and a resident of US or Canada to make a deposit or play in and FantasyCapital Contests with an entry fee or prize. If you are a resident of Arizona, Iowa, Louisianna or Montana, you cannot play FantasyCapital or real money. For further information regarding eligibility, please consult our offical <a href="#" class="green">Terms & Conditions</a>.
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#chat_room" class="collapsed">
          Chat Room
        </a>
      </h4>
    </div>
    <div id="chat_room" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="text-container">
          You must be 18 years of age or over and a resident of US or Canada to make a deposit or play in and FantasyCapital Contests with an entry fee or prize. If you are a resident of Arizona, Iowa, Louisianna or Montana, you cannot play FantasyCapital or real money. For further information regarding eligibility, please consult our offical <a href="#" class="green">Terms & Conditions</a>.
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#user_names" class="collapsed">
          User Names
        </a>
      </h4>
    </div>
    <div id="user_names" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="text-container">
          You must be 18 years of age or over and a resident of US or Canada to make a deposit or play in and FantasyCapital Contests with an entry fee or prize. If you are a resident of Arizona, Iowa, Louisianna or Montana, you cannot play FantasyCapital or real money. For further information regarding eligibility, please consult our offical <a href="#" class="green">Terms & Conditions</a>.
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#unfiled_contests" class="collapsed">
          Unfiled Contests
        </a>
      </h4>
    </div>
    <div id="unfiled_contests" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="text-container">
          You must be 18 years of age or over and a resident of US or Canada to make a deposit or play in and FantasyCapital Contests with an entry fee or prize. If you are a resident of Arizona, Iowa, Louisianna or Montana, you cannot play FantasyCapital or real money. For further information regarding eligibility, please consult our offical <a href="#" class="green">Terms & Conditions</a>.
        </div>
      </div>
    </div>
  </div>

</div>

<h3 class="panel-group-title">Faqs</h3>
<div class="panel-group-intro">Basics</div>
<div class="panel-group fc-panel" id="faqs_accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#faq_access" class="collapsed">
          Can I access FantasyCapital through my phone or tablet?
        </a>
      </h4>
    </div>
    <div id="faq_access" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="text-container">
          You must be 18 years of age or over and a resident of US or Canada to make a deposit or play in and FantasyCapital Contests with an entry fee or prize. If you are a resident of Arizona, Iowa, Louisianna or Montana, you cannot play FantasyCapital or real money. For further information regarding eligibility, please consult our offical <a href="#" class="green">Terms & Conditions</a>.
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#faq_why_pay" class="collapsed">
          I thought FantasyCapital was free. Why was I asked to pay?
        </a>
      </h4>
    </div>
    <div id="faq_why_pay" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="text-container">
          You must be 18 years of age or over and a resident of US or Canada to make a deposit or play in and FantasyCapital Contests with an entry fee or prize. If you are a resident of Arizona, Iowa, Louisianna or Montana, you cannot play FantasyCapital or real money. For further information regarding eligibility, please consult our offical <a href="#" class="green">Terms & Conditions</a>.
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#faq_tax" class="collapsed">
          Do I have to pay taxes on my winnings?
        </a>
      </h4>
    </div>
    <div id="faq_tax" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="text-container">
          You must be 18 years of age or over and a resident of US or Canada to make a deposit or play in and FantasyCapital Contests with an entry fee or prize. If you are a resident of Arizona, Iowa, Louisianna or Montana, you cannot play FantasyCapital or real money. For further information regarding eligibility, please consult our offical <a href="#" class="green">Terms & Conditions</a>.
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#faq_username" class="collapsed">
          Can I change my user name?
        </a>
      </h4>
    </div>
    <div id="faq_username" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="text-container">
          You must be 18 years of age or over and a resident of US or Canada to make a deposit or play in and FantasyCapital Contests with an entry fee or prize. If you are a resident of Arizona, Iowa, Louisianna or Montana, you cannot play FantasyCapital or real money. For further information regarding eligibility, please consult our offical <a href="#" class="green">Terms & Conditions</a>.
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#faq_delete_account" class="collapsed">
          How do I delete my account?
        </a>
      </h4>
    </div>
    <div id="faq_delete_account" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="text-container">
          You must be 18 years of age or over and a resident of US or Canada to make a deposit or play in and FantasyCapital Contests with an entry fee or prize. If you are a resident of Arizona, Iowa, Louisianna or Montana, you cannot play FantasyCapital or real money. For further information regarding eligibility, please consult our offical <a href="#" class="green">Terms & Conditions</a>.
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#faq_pay_to" class="collapsed">
          Who can I play?
        </a>
      </h4>
    </div>
    <div id="faq_pay_to" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="text-container">
          You must be 18 years of age or over and a resident of US or Canada to make a deposit or play in and FantasyCapital Contests with an entry fee or prize. If you are a resident of Arizona, Iowa, Louisianna or Montana, you cannot play FantasyCapital or real money. For further information regarding eligibility, please consult our offical <a href="#" class="green">Terms & Conditions</a>.
        </div>
      </div>
    </div>
  </div>

</div>

