/*Navigatoin*/

.navbar {
  border: none;
}

.navbar-default .navbar-nav > li > a {
  color: #0fea6c;

  &:hover, &:focus {
    color: #fff;
  }
}

.navbar-collapse {
  padding: 0;
}

.mainMenu {
  background: #000;
  height: 50px;
  font-family: 'droid_sansregular';

  .navbar-nav {
    a {
      font-size: 18px;
      text-transform: uppercase;
    }

    li {
      background: url(/assets/divider.png) no-repeat right center;

      &:last-child {
        background: none
      }

      &.active {
        background: #fff;
        padding: 0 25px;

        a {
          background: none
        }
      }
    }
  }

  ul li {
    padding: 0 25px;

    &:first-child {
      padding: 0;
    }

    &:last-child {
      border-right: none;
    }
  }
}

.capitalnavbar {
  margin: 0
}

@media (max-width: 768px) {
  .navbar-collapse {
    padding: 0 20px;
  }
  .mainMenu .navbar-nav li {
    background: none;
    padding: 0 0px;

    &.active {
      padding: 0
    }
  }

}
