/*Navigatoin*/
@import 'variables';

.navbar {
  border: none;
  margin-bottom: 0;
}

.navbar-nav-centered {
  text-align: center;
  float: none;
  li {
    float: none;
  }

}

.navbar-static-top {
  background-color: #22272d;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;

  &:hover, &:focus {
    color: #fff;
  }
}

.navbar-collapse {
  padding: 0;
}

.mainMenu {
  background-color: #2E363E;
  height: 50px;
  font-family: $main-font; //'droid_sansregular';

  .line {
    height: 2px;
    width: 15px;
    margin: 0 auto;
    background-color: #0FEA6C;
    display: none;
  }

  li {
    background-color: #3f4a55;
  }

  li.welcome-box {
    text-align: center;
    min-width: 220px;
    a {
      display: inline-block;
    }
    background-color: #2e363e;
    .first-name {
      color: #0FEA6C;
    }
    .arrow {
      color: #666769;
      font-size: 61%;
      line-height: 46px;
      vertical-align: top;
    }
  }
  .navbar-nav {
    a {
      font-size: 18px;
      text-transform: uppercase;
    }

    li {
      &.active {
        background: #fff;
        padding: 7px 14px;
        .line {
          display:block;
        }
        a {
          background: none;
        }
      }
    }
  }

  ul li {
    padding: 7px 14px;

    &:last-child {
      border-right: none;
    }
  }
}

.capitalnavbar {
  margin: 0
}

@media (max-width: 768px) {
  .navbar-collapse {
    padding: 0 20px;
  }
  .mainMenu .navbar-nav li {
    background: none;
    padding: 0 0px;

    &.active {
      padding: 0
    }
  }

}
