.leaderboard-filter{
  background: #505e6c;
  .filtercheckbox-container{
    color: #fff;
    font-size: 20px;
    padding: 10px 20px 0;
    label{
      font-size: 20px;
    }
  }
}

.leaderBoard{

  .top-user{
    border-bottom: 1px solid #dddddd;
    td{
      vertical-align: middle !important;
      img{
        margin-right: 10px;
        border: 3px solid #C8C7C4;
        border-radius: 50%;
        height: 65px;
      }
    } 
    
  }
}

@media (max-width: 768px) {
  .radio, .login {
    height: auto;
    margin: 10px auto;
  }
  ul.filtercheckbox {
    clear: both
  }
  ul.filtercheckbox li {
    float: none;
    width: 100%;
    text-align: left;
    margin: 10px;
  }
}

